div.settings-drawer {
  &.el-drawer {
    border-top-left-radius: var(--app-round-base);
    border-bottom-left-radius: var(--app-round-base);
  }

  .el-drawer__body {
    padding: 0;
  }

  .el-drawer__header {
    margin-bottom: 10px;
  }
}

.setting-tabs {
  height: 100%;

  .el-tabs {
    --el-tabs-header-height: 40px;

    &__header {
      margin-right: 0 !important;
      background-color: var(--el-bg-color);
    }

    &__nav-wrap {
      padding: 10px;
    }

    &__content {
      padding: 0;
    }

    &__item {
      padding: 0 1rem;
      border-radius: var(--app-round-base);

      &.is-left.is-active {
        background-color: var(--el-fill-color);
        border-color: transparent !important;
      }
    }
  }
}
