/* 针对Element Plus组件样式的重写、美化 */

.el-popper {
  --el-popper-border-radius: 8px;
}

ul.el-menu {
  border-right: none;
}

div.el-card {
  --el-card-padding: 12px;

  border-radius: var(--app-round);

  &__body {
    width: 100%;
    height: 100%;
  }
}

/* ======================== segmented-分段控制器的样式美化 ======================== */

/* 简约风格，在使用时加上simple类名，class="simple" */
.simple.el-segmented {
  --el-segmented-item-selected-color: var(--el-text-color-primary);
  --el-segmented-item-selected-bg-color: var(--el-bg-color);
  --el-segmented-item-selected-disabled-bg-color: var(--el-bg-color);
  --el-border-radius-base: var(--app-round);

  label.el-segmented__item {
    &.is-selected {
      box-shadow: var(--el-box-shadow-lighter);
    }

    &.is-disabled {
      color: var(--el-text-color-disabled);
    }
  }
}
