/* 针对Element Plus组件样式的重写、美化 */

.el-popper {
  --el-popper-border-radius: 8px;
}

ul.el-menu {
  border-right: none;
}

div.el-card {
  border-radius: var(--app-round);

  &__body {
    width: 100%;
    height: 100%;
  }
}

/* ======================== segmented-分段控制器的样式美化 ======================== */

/* 简约风格，在使用时加上simple类名，class="simple" */
.simple.el-segmented {
  --el-segmented-item-selected-color: var(--el-text-color-primary);
  --el-segmented-item-selected-bg-color: var(--el-bg-color);
  --el-segmented-item-selected-disabled-bg-color: var(--el-bg-color);
  --el-border-radius-base: var(--app-round);
  --el-segmented-item-bg-color: var(--el-fill-color);

  label.el-segmented__item {
    &.is-disabled {
      color: var(--el-text-color-disabled);
    }

    &.is-selected {
      font-weight: 600;
      box-shadow:
        0 1px 2px 0 rgb(0 0 0 / 3%),
        0 1px 6px -1px rgb(0 0 0 / 2%),
        0 2px 4px 0 rgb(0 0 0 / 2%);
    }
  }
}
