@use 'sass:map';

:root {
  // 菜单项文本与图标的间距
  --app-menu-item-icon-gap: 8px;

  // 菜单项图标大小
  --app-menu-item-icon-size: 16px;

  // 菜单level项水平缩进像素
  --app-menu-item-level-padding: calc(
    var(--app-menu-item-icon-gap) + var(--app-menu-item-icon-size)
  );
}

@mixin generate-color-vars($color-map) {
  // 侧边栏背景色
  --app-sidebar-bg-color: #{map.get($color-map, 'bg-color')};

  // 菜单项激活背景颜色
  --app-menu-item-bg-color-active: #{map.get($color-map, 'item-bg-color-active')};

  // 菜单项基础文本颜色
  --app-menu-item-text-color: #{map.get($color-map, 'item-text-color')};

  // 菜单项激活文本颜色
  --app-menu-item-text-color-active: #{map.get($color-map, 'item-text-color-active')};
}

@mixin generate-sidebar-theme($mode-name, $map) {
  $light-colors: map.get($map, 'light');
  $dark-colors: map.get($map, 'dark');

  :root.sidebar-#{$mode-name} {
    @include generate-color-vars($light-colors);
  }

  :root.dark.sidebar-#{$mode-name} {
    @include generate-color-vars($dark-colors);
  }
}

$sidebar-theme-minimal: (
  'light': (
    'bg-color': transparent,
    'item-bg-color-active': #e5e7eb,

    'item-text-color': #4b5563,
    'item-text-color-active': #1f2937,
  ),
  'dark': (
    'item-bg-color-active': #262626,

    'item-text-color': #d4d4d4,
    'item-text-color-active': #d4d4d4,
  ),
);

@include generate-sidebar-theme('minimal', $sidebar-theme-minimal);
