$transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
$transition-duration: 300ms;

.route-fade {
  &-enter-active,
  &-leave-active {
    transition:
      opacity $transition-duration $transition-timing,
      transform $transition-duration $transition-timing;
  }

  &-enter-from,
  &-leave-to {
    filter: blur(2px);
  }

  &-enter-from {
    opacity: 0;
    transform: translate3d(0, -1rem, 0);
  }

  &-leave-to {
    opacity: 0;
    transform: translate3d(0, 1rem, 0);
  }
}
