// global transition css

/* fade */

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/* 路由 */
.fade-slide-leave-active,
.fade-slide-enter-active {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.fade-slide-enter-from {
  opacity: 0;
  transform: translateY(-20px);
}

.fade-slide-leave-to {
  opacity: 0;
  transform: translateY(20px);
}

.fade-slide-enter-from,
.fade-slide-leave-to {
  filter: blur(2px);
  opacity: 0;
}
