:root {
  --app-font-size: 32px;
  --app-header-shadow: 0px 2px 4px 0px rgb(0 0 0 / 14%), 0px 0px 1px 0px rgb(0 0 0 / 16%);

  // space：间距
  --app-space-size1: 8px;
  --app-space-size2: 16px;

  // 圆角
  --app-round-small: 4px;
  --app-round-base: 8px;
  --app-round-large: 16px;

  // 16、20、24、28、32、36、40
}
