:root {
  /* 阴影 */
  --app-header-shadow: 0px 2px 4px 0px rgb(0 0 0 / 14%), 0px 0px 1px 0px rgb(0 0 0 / 16%);

  /* 圆角 */
  --app-round-sm: calc(var(--app-round) - 6px);
  --app-round-md: calc(var(--app-round) - 4px);
  --app-round: 8px; // 全局基础圆角
  --app-round-xl: calc(var(--app-round) + 4px);
  --app-round-2xl: calc(var(--app-round) * 2);
  --app-round-3xl: calc(var(--app-round) * 3);

  /* 系统预设 */
  --app-base-item-height: 32px; // 项基础高度
}
