@layer theme, base, components, utilities;

@import 'tailwindcss/theme.css' layer(theme);

/* @import "tailwindcss/preflight.css" layer(base); */

@import 'tailwindcss/utilities.css' layer(utilities);

@config "./tailwind.config.js";

:root {
  --background: oklch(100% 0 0deg);
  --foreground: oklch(32.11% 0 0deg);
  --card: oklch(100% 0 0deg);
  --card-foreground: oklch(32.11% 0 0deg);
  --popover: oklch(100% 0 0deg);
  --popover-foreground: oklch(32.11% 0 0deg);
  --primary: oklch(62.31% 0.188 259.8145deg);
  --primary-foreground: oklch(100% 0 0deg);
  --secondary: oklch(96.7% 0.0029 264.5419deg);
  --secondary-foreground: oklch(44.61% 0.0263 256.8018deg);
  --muted: oklch(98.46% 0.0017 247.8389deg);
  --muted-foreground: oklch(55.1% 0.0234 264.3637deg);
  --accent: oklch(95.14% 0.025 236.8242deg);
  --accent-foreground: oklch(37.91% 0.1378 265.5222deg);
  --destructive: oklch(63.68% 0.2078 25.3313deg);
  --destructive-foreground: oklch(100% 0 0deg);
  --border: oklch(92.76% 0.0058 264.5313deg);
  --input: oklch(92.76% 0.0058 264.5313deg);
  --ring: oklch(62.31% 0.188 259.8145deg);
  --chart-1: oklch(62.31% 0.188 259.8145deg);
  --chart-2: oklch(54.61% 0.2152 262.8809deg);
  --chart-3: oklch(48.82% 0.2172 264.3763deg);
  --chart-4: oklch(42.44% 0.1809 265.6377deg);
  --chart-5: oklch(37.91% 0.1378 265.5222deg);
  --sidebar: oklch(98.46% 0.0017 247.8389deg);
  --sidebar-foreground: oklch(32.11% 0 0deg);
  --sidebar-primary: oklch(62.31% 0.188 259.8145deg);
  --sidebar-primary-foreground: oklch(100% 0 0deg);
  --sidebar-accent: oklch(95.14% 0.025 236.8242deg);
  --sidebar-accent-foreground: oklch(37.91% 0.1378 265.5222deg);
  --sidebar-border: oklch(92.76% 0.0058 264.5313deg);
  --sidebar-ring: oklch(62.31% 0.188 259.8145deg);
  --font-sans: inter, sans-serif;
  --font-serif: source serif 4, serif;
  --font-mono: jetbrains mono, monospace;
  --radius: 0.375rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0% 0 0deg);
  --shadow-2xs: 0 1px 3px 0px hsl(0deg 0% 0% / 5%);
  --shadow-xs: 0 1px 3px 0px hsl(0deg 0% 0% / 5%);
  --shadow-sm: 0 1px 3px 0px hsl(0deg 0% 0% / 10%), 0 1px 2px -1px hsl(0deg 0% 0% / 10%);
  --shadow: 0 1px 3px 0px hsl(0deg 0% 0% / 10%), 0 1px 2px -1px hsl(0deg 0% 0% / 10%);
  --shadow-md: 0 1px 3px 0px hsl(0deg 0% 0% / 10%), 0 2px 4px -1px hsl(0deg 0% 0% / 10%);
  --shadow-lg: 0 1px 3px 0px hsl(0deg 0% 0% / 10%), 0 4px 6px -1px hsl(0deg 0% 0% / 10%);
  --shadow-xl: 0 1px 3px 0px hsl(0deg 0% 0% / 10%), 0 8px 10px -1px hsl(0deg 0% 0% / 10%);
  --shadow-2xl: 0 1px 3px 0px hsl(0deg 0% 0% / 25%);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
  --size-32: 2.125rem;

  /* zinc 调色板 */
  --zinc-50: oklch(98.5% 0 0deg);
  --zinc-100: oklch(96.7% 0.001 286.375deg);
  --zinc-200: oklch(92% 0.004 286.32deg);
  --zinc-300: oklch(87.1% 0.006 286.286deg);
  --zinc-400: oklch(70.5% 0.015 286.067deg);
  --zinc-500: oklch(55.2% 0.016 285.938deg);
  --zinc-600: oklch(44.2% 0.017 285.786deg);
  --zinc-700: oklch(37% 0.013 285.805deg);
  --zinc-800: oklch(27.4% 0.006 286.033deg);
  --zinc-900: oklch(21% 0.006 285.885deg);
  --zinc-950: oklch(14.1% 0.005 285.823deg);

  /* 侧边栏背景颜色 */
  --sidebar-bg-color: transparent;

  /* 菜单整体文本颜色 */
  --menu-text-color: var(--el-text-color-primary);

  /* 菜单激活项背景颜色 */
  --menu-active-bg-color: var(--el-color-primary);

  /* 菜单激活项文本颜色 */
  --menu-active-text-color: var(--el-color-white);

  /* 菜单悬停项背景颜色 */
  --menu-hover-bg-color: var(--el-fill-color);

  /* 菜单项文本与图标的间距 */
  --menu-item-icon-gap: 0.5rem;

  /* 菜单项图标大小 */
  --menu-item-icon-size: 1rem;

  /* 菜单level项水平缩进像素 */
  --menu-item-level-spacing: calc(var(--menu-item-icon-gap) + var(--menu-item-icon-size));
}

.dark {
  --background: oklch(20.46% 0 0deg);
  --foreground: oklch(92.19% 0 0deg);
  --card: oklch(26.86% 0 0deg);
  --card-foreground: oklch(92.19% 0 0deg);
  --popover: oklch(26.86% 0 0deg);
  --popover-foreground: oklch(92.19% 0 0deg);
  --primary: oklch(62.31% 0.188 259.8145deg);
  --primary-foreground: oklch(100% 0 0deg);
  --secondary: oklch(26.86% 0 0deg);
  --secondary-foreground: oklch(92.19% 0 0deg);
  --muted: oklch(23.93% 0 0deg);
  --muted-foreground: oklch(71.55% 0 0deg);
  --accent: oklch(37.91% 0.1378 265.5222deg);
  --accent-foreground: oklch(88.23% 0.0571 254.1284deg);
  --destructive: oklch(63.68% 0.2078 25.3313deg);
  --destructive-foreground: oklch(100% 0 0deg);
  --border: oklch(37.15% 0 0deg);
  --input: oklch(37.15% 0 0deg);
  --ring: oklch(62.31% 0.188 259.8145deg);
  --chart-1: oklch(71.37% 0.1434 254.624deg);
  --chart-2: oklch(62.31% 0.188 259.8145deg);
  --chart-3: oklch(54.61% 0.2152 262.8809deg);
  --chart-4: oklch(48.82% 0.2172 264.3763deg);
  --chart-5: oklch(42.44% 0.1809 265.6377deg);
  --sidebar: oklch(20.46% 0 0deg);
  --sidebar-foreground: oklch(92.19% 0 0deg);
  --sidebar-primary: oklch(62.31% 0.188 259.8145deg);
  --sidebar-primary-foreground: oklch(100% 0 0deg);
  --sidebar-accent: oklch(37.91% 0.1378 265.5222deg);
  --sidebar-accent-foreground: oklch(88.23% 0.0571 254.1284deg);
  --sidebar-border: oklch(37.15% 0 0deg);
  --sidebar-ring: oklch(62.31% 0.188 259.8145deg);
  --font-sans: inter, sans-serif;
  --font-serif: source serif 4, serif;
  --font-mono: jetbrains mono, monospace;
  --radius: 0.375rem;
  --shadow-x: 0;
  --shadow-y: 1px;
  --shadow-blur: 3px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0% 0 0deg);
  --shadow-2xs: 0 1px 3px 0px hsl(0deg 0% 0% / 5%);
  --shadow-xs: 0 1px 3px 0px hsl(0deg 0% 0% / 5%);
  --shadow-sm: 0 1px 3px 0px hsl(0deg 0% 0% / 10%), 0 1px 2px -1px hsl(0deg 0% 0% / 10%);
  --shadow: 0 1px 3px 0px hsl(0deg 0% 0% / 10%), 0 1px 2px -1px hsl(0deg 0% 0% / 10%);
  --shadow-md: 0 1px 3px 0px hsl(0deg 0% 0% / 10%), 0 2px 4px -1px hsl(0deg 0% 0% / 10%);
  --shadow-lg: 0 1px 3px 0px hsl(0deg 0% 0% / 10%), 0 4px 6px -1px hsl(0deg 0% 0% / 10%);
  --shadow-xl: 0 1px 3px 0px hsl(0deg 0% 0% / 10%), 0 8px 10px -1px hsl(0deg 0% 0% / 10%);
  --shadow-2xl: 0 1px 3px 0px hsl(0deg 0% 0% / 25%);

  /* zinc 调色板 */
  --zinc-50: oklch(14.1% 0.005 285.823deg);
  --zinc-100: oklch(21% 0.006 285.885deg);
  --zinc-200: oklch(27.4% 0.006 286.033deg);
  --zinc-300: oklch(37% 0.013 285.805deg);
  --zinc-400: oklch(44.2% 0.017 285.786deg);
  --zinc-500: oklch(55.2% 0.016 285.938deg);
  --zinc-600: oklch(70.5% 0.015 286.067deg);
  --zinc-700: oklch(87.1% 0.006 286.286deg);
  --zinc-800: oklch(92% 0.004 286.32deg);
  --zinc-900: oklch(96.7% 0.001 286.375deg);
  --zinc-950: oklch(98.5% 0 0deg);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  /* zinc 调色板 */
  --color-zinc-50: var(--zinc-50);
  --color-zinc-100: var(--zinc-100);
  --color-zinc-200: var(--zinc-200);
  --color-zinc-300: var(--zinc-300);
  --color-zinc-400: var(--zinc-400);
  --color-zinc-500: var(--zinc-500);
  --color-zinc-600: var(--zinc-600);
  --color-zinc-700: var(--zinc-700);
  --color-zinc-800: var(--zinc-800);
  --color-zinc-900: var(--zinc-900);
  --color-zinc-950: var(--zinc-950);

  /* 统一宽高 */
  --width-item: var(--size-32);
  --height-item: var(--size-32);
}
